<br/>
<br/>
<h1>Welcome to Task Tracker</h1>

<div id="tasksform">
  <h3>To do Task</h3>
  <form #taskRef="ngForm" (ngSubmit)=addTask(taskRef)>

    <mat-label>Employee ID: </mat-label><br/>
    <br/>
    <input matInput name="id" placeholder="id" ngModel/>
    <br/>
    <br/>
    <mat-label>Name: </mat-label><br />
    <br/>
    <input matInput name="name" placeholder="name" ngModel/>
    <br />
    <br/>

    <mat-label>Task: </mat-label><br />
    <br/>
    <input matInput name="taskname" placeholder="task" ngModel/>
    <br />
    <br/>

    <mat-label>Deadline: </mat-label><br />
    <br/>
    <input type='date' matInput name="deadline" placeholder="dd/mm/yyyy" ngModel/>
    <br />
    <br />
    <br />
    <button mat-raised-button color="accent" type="submit">Submit</button>
    <button mat-raised-button color="primary" type="reset">Reset</button>

  </form>
  <br />

</div>
  
  <div id="taskslist">
    
 
</div>